<!-- <p>&nbsp;</p> -->
<table class="em-tm-container" style="font-family: Arial, Helvetica, sans-serif;" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align="center">
        <table class="em-tm-container" style="font-family: Arial, Helvetica, sans-serif;" width="600" cellspacing="0" cellpadding="0">
          <tbody>
            <tr style="background: linear-gradient(to right, #f39200 20%, #1f497d 100%); background-color: #1f497d;">
              <td style="padding-top: 50px;">
                <table class="em-tm-wrap" width="600" cellspacing="0" cellpadding="0" align="center">
                  <tbody>
                    <tr>
                      <td>
                        <table width="549" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr style="background-color: #fff;">
                              <td style="padding: 30px 30px 0;">
                                <table style="text-align: left;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td align="center">
                                        <h2 style="font-weight: 900; color: #1f497d; font-size: 25px;">
                                          <span style="font-size: 14px; font-weight: 400;">CRÉATION DE COMPTE ORGANISATION</span>
                                        </h2>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 10px 0;">
                                        <p style="font-size: 20px; font-weight: 600;">Bonjour,</p>
                                        <p style="font-size: 18px; line-height: 25px; text-align: justify;">
                                          Nous vous informons qu’un compte <strong>ORGANISATION</strong> vient de vous être créé sur la plateforme Map Action. Vous pouvez vous connecter en utilisant les informations suivantes :
                                        </p>
                                        <ul style="font-size: 14px;">
                                          <li>Votre Email : {{email}}</li>
                                          <li>Votre Mot de passe : {{password}}</li>
                                        </ul>
                                        <p style="font-size: 18px; line-height: 25px; text-align: justify;">
                                          Vous devrez changer le mot de passe lors de votre première connexion à la plateforme.    
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="center" style="padding: 20px 0;">
                                        <a href="https://app.map-action.com/" target="_blank" rel="noopener" style="border: 1px solid #f39200; padding: 15px 25px; background: #f39200; font-size: 18px; border-radius: 5px; text-decoration: none; color: #fff; font-weight: 600;">
                                          Connectez-vous
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 10px 30px;">
                                        <p style="font-size: 18px; text-align: justify; line-height: 25px;">
                                          Pour des raisons de sécurité, nous vous conseillons de supprimer cet email après lecture. Nous vous souhaitons une belle expérience sur Map Action !
                                        </p>
                                        <p style="font-weight: 600; font-size: 16px; color: #333;">Cordialement,</p>
                                        <p style="font-weight: 400; font-size: 16px; color: #333;">L'équipe Map Action</p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
